Medhansh Gupta - 25070123074

Exp 10: Study of Pandas library

In [ ]:
# introduction to pandas
# pandas: panel data
''' used for :
structured data

In [ ]:
# Data in tabular form
import pandas as pd
s = pd.Series([10,20,30,40])
s

0    10
1    20
2    30
3    40
dtype: int64

In [ ]:
# create DataFrame
import pandas as pd
data = {"Name":["A","B","C"],"Marks":[85,90,78]}
df = pd.DataFrame(data)
print(df)

  Name  Marks
0    A     85
1    B     90
2    C     78

In [ ]:
# find structure of DataFrame
df.shape

(3, 2)

In [ ]:
df.ndim

2

In [ ]:
# display column names
df.columns

Index(['Name', 'Marks'], dtype='object')

In [ ]:
#check data types of each column
df.dtypes

Name     object
Marks     int64
dtype: object

In [ ]:
# access individual column
df["Name"]

0    A
1    B
2    C
Name: Name, dtype: object

In [13]:
# access particular element
print(df.loc[0,"Name"])
print(df.iloc[2,1])

A
78

In [24]:
# Add new column

df["Grade"] = ["First Class","Distinction","Second Class"]
print(df)

  Name  Marks         Grade
0    A     88   First Class
1    B     90   Distinction
2    C     78  Second Class

In [16]:
# update data in dataframe
# change marks of student A to 88
df.loc[0,"Marks"] = 88
print(df)

  Name  Marks         Grade
0    A     88   First Class
1    B     90   Distinction
2    C     78  Second Class

In [26]:
# delete a column
# df.drop("Grade",axis=1,inplace=True)
df1 = df.drop("Grade",axis=1)
print(df)
print(df1)

  Name  Marks         Grade
0    A     88   First Class
1    B     90   Distinction
2    C     78  Second Class
  Name  Marks
0    A     88
1    B     90
2    C     78

In [30]:
# perform basic statistical analysis
mean1=df["Marks"].mean()
max1 = df["Marks"].max()
min1=df["Marks"].min()
print(mean1)
print(min1)
print(max1)

85.33333333333333
78
90

In [31]:
# apply condition (filtering)
# display students scoring more than 80.
df[df["Marks"]>80]

  Name  Marks        Grade
0    A     88  First Class
1    B     90  Distinction